{{ form_start(form) }}
    {{ form_row(form.street) }}
    {{ form_row(form.move_in_date) }}
    {{ form_row(form.town) }}
    {{ form_row(form.country) }}
    {{ form_row(form.post_code) }}
    {{ form_row(form.contact_email) }}
    {{ form_row(form.user_id) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}